[phases.setup]
nixPkgs = ['php82', 'php82Extensions.pdo', 'php82Extensions.pdo_mysql']

[phases.install]
cmds = ['composer install --no-dev --optimize-autoloader']

[phases.build]
cmds = []

[start]
cmd = 'php artisan migrate:fresh --seed --force && php -S 0.0.0.0:$PORT -t public'
